// by @sandyzikun (https://github.com/sandyzikun)

$color-background = darken($base00, 50%)
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = $base00 // lighten($color-bcakground, 10%)

$color-background-code = $base00

$color-border = $base04
$color-meta = $color-border
$color-meta-code = lighten($color-meta, 10%)

$color-link = $base-orange
$color-text = mix($base05, $base04)
$color-accent-3 = $base03
$color-accent-2 = mix($base06, $base05)
$color-accent-1 = $base-cyan
$color-quote = $color-accent-1