// by @sandyzikun (https://github.com/sandyzikun)

$color-background = lighten($base07, 50%)
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = $base07 // darken($color-background, 10%)

$color-background-code = $base07

$color-border = $base03
$color-meta = $color-border
$color-meta-code = lighten($color-meta, 10%)

$color-link = $base-cyan
$color-text = mix($base02, $base03)
$color-accent-3 = $base04
$color-accent-2 = mix($base01, $base02)
$color-accent-1 = $base-yellow
$color-quote = $color-accent-1