// by @sandyzikun (https://github.com/sandyzikun)
$color-background = #1d211f
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = #666
$color-link = #d4aa80
$color-text = #c9ccca
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #2b8abc
$color-quote = #ccb6ff
$highlight = hexo-config("highlight") || "solarized-dark"
